*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer h3,h4,h5,h6{
    color: #b8b8b8;
}
.footer h2{
    color: #f0f0f0;
}

.finis h3,h4,h5,h6{
    color: #b8b8b8;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
    color: white;
    transition: all 0.4s;
}
.main{
    background: url(../img/kubb.jpg) no-repeat center / cover;
    height: 700px;
    width: 100%;
}
.container{
    width: 100%;
    height: 90px;
    background-color: rgba(2, 10, 10, 0.177);
}
.nev{
    width: 1170px;
    margin: 0 auto; 
}
.logo{
    width: 25%;
    float: left;
    line-height: 90px;
}

.icon{
    width: 15%;
    float: left;
    line-height: 90px;
}
.icon i{
    padding: 10px;
    color: white;
}
.menu{
    width: 60%;
    float: left;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
}
.menu ul li:last-child {
    border-right: 3px solid #3a3a42;
    height: 30px; 
    margin: 30px auto;
}
.menu ul li:hover a{
    color:#28b8d8 ;
}
.txt{
    height: 610px;
    width: 1170px;
    margin: auto;
    position: relative;
}

.txt h1{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 38%;
    left: 33%;
}
.txt h2{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 48%;
    left: 38%;
}
.txt p{
    color: white;
    font-size: 14px;
    position: absolute;
    top: 58%;
    left: 43%;
}
.custom{
    width: 100%;
    background-color: white;
}
.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.biotxt h3{
    font-size: 30px;
    margin-top: 50px;
}
.biotxt p{
    font-size: 14px;
}
.biotxt h4{
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 50px;
}
/* pic1 */
.bioimg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.pic1 h3{
    margin-top: 10px;
    font-size: 17px;
    color: black;
}
.pic1 p{
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
}

/* pic2 */



/* pic3 */



/* 3rd div */
.cdiv{
    width: 100%;
    margin-top: 50px;
    background-color: #2c2c2c;
    display: flex;
    align-items:center;
    flex-direction: column;

}

.cdivimges{
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding: 20px;
    align-items: center;
    
}
.cdivimges > img {
    width: 100%;
    
}
.dgn > p{
    margin: 50px 0px;
    font-size: 18px;
    color: white;
    text-align: center;
}
.btn{
    margin: 40px 0 60px;
}
.btn a{
    font-size: 14px;
    color: #989393;
    border-style: solid;
    width: 180px;
    height: 50px;
    
    text-align: center;
    line-height: 50px;
}




.journal{
    height: 590px;
    width: 1170px;
    margin: auto;
    position: relative;
}
.journal h3{
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
}
.journal::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 8px;
    right: 380px ;
    background-color: #535353;
}
.journal::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 12px;
    right: 380px ;
    background-color: #535353;

}
.journal h3::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 8px;
    left: 380px ;
    background-color: #535353;
}
.journal h3::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 12px;
    left: 380px ;
    background-color: #535353;
}
.photo{
    height: 460px;
    width: 1170px;
    margin-top: -20%;
}
/* photo1 */
.photo1{
    width: 367px;
    height: 460px;
    float: left;
    margin-top: 270px;
    position: relative;
    border-style: ridge;
}
.one{
    text-align: center;
}
.one h2{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.one h6{
    font-size: 12px;
    margin-bottom: 20px;
    color: #b3b3b3;
}
.one img{
    width: 100%;
    margin-right: -1px;
}
.one p{
    font-size: 14px;
    margin: 20px 20px;
    color: #666666;
}
.two{
    font-size: 11px;
    text-align: right; 
    margin-top: -14px;
    margin-right: 30px;
    color: #b3b3b3;
}
.one h4{
    text-align: left;
    font-size: 11px;
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
    text-transform: uppercase;
    color: #b3b3b3;
}
.one h4::after{
    position: absolute;
    bottom: -2px;
    left: 0px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
/* photo2 */
.photo2{
    width: 370px;
    height: 460px;
    float: left;
    margin: 0 22px;
    margin-top: 270px;
    position: relative;
    border-style: ridge;
}
.one{
    text-align: center;
}
.one h2{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.one h6{
    font-size: 12px;
    margin-bottom: 20px;
    color: #b3b3b3;
}
.one img{
    width: 100%;
    margin-right: -1px;
}
.one p{
    font-size: 14px;
    margin: 20px 20px;
    color: #666666;
}
.two{
    font-size: 11px;
    text-align: right; 
    margin-top: -14px;
    margin-right: 30px;
    color: #b3b3b3;
}
.one h4{
    text-align: left;
    font-size: 11px;
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
    text-transform: uppercase;
    color: #b3b3b3;
}
.one h4::after{
    position: absolute;
    bottom: -2px;
    left: 0px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
/* photo3 */
.photo3{
    width: 370px;
    height: 460px;
    float: left;
    margin-top: 270px;
    position: relative; 
    border-style: ridge; 
}
.one{
    text-align: center;
}
.one h2{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.one h6{
    font-size: 12px;
    margin-bottom: 20px;
    color: #b3b3b3;
}
.one img{
    width: 100%;
    margin-right: -1px;
}
.one p{
    font-size: 14px;
    margin: 20px 20px;
    color: #666666;
}
.two{
    font-size: 11px;
    text-align: right; 
    margin-top: -14px;
    margin-right: 30px;
    color: #b3b3b3;
}
.one h4{
    text-align: left;
    font-size: 11px;
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
    text-transform: uppercase;
    color: #b3b3b3;
}
.one h4::after{
    position: absolute;
    bottom: -2px;
    left: 0px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
.last_about{
    height: 480px;
    width: 1170px;
    margin: auto;
}
.aboutme{
    width: 585px;
    height: 480px;
    float: left;
    position: relative;
}
.aboutme h2{
    margin: 20px 0px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}
.aboutme h2::after{
    position: absolute;
    top: 32px;
    right: 277px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
.aboutme h2::before{
    position: absolute;
    top: 27px;
    left: 196px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
.picture{
    float: left;
    height: 480px;
    width: 225px;
}
.text_docoment{
    float: left;
    height: 480px;
    width: 360px;
}
.text_docoment h4{
    margin-top: -6px;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.text_docoment h3{
    font-size: 14px;
    margin-right: 10px;
}
.service{
    width: 585px;
    height: 480px;
    float: left;
    position: relative;
}
.service h2{
    margin: 20px 0px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}
.service h2::after{
    position: absolute;
    top: 32px;
    right: 340px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
.service h2::before{
    position: absolute;
    top: 27px;
    left: 133px;
    content: "";
    background-color: #28b8d8;
    height: 1px;
    width: 112px;
}
.mini_logo{
    width: 70px;
    height: 370px;
    float: left;
    position: relative;
}
.p1{
    position: absolute;
    top: 4px;
    left: 10px;
}
.p2{
    position: absolute;
    top: 100px;
    left: 10px;
}
.p3{
    position: absolute;
    top: 190px;
    left: 10px;
}
.all_txt{
    width: 515px;
    height: 370px;
    float: left;
}
.all_txt h6{
    font-size: 17px;
    color: #28b8d8;
    margin-bottom: 20px;
}
h3{
    font-size: 14px;
    margin-bottom: 20px;
}
.all_txt h4{
    font-size: 17px;
    margin-bottom: 20px;
}
.all_txt h5{
    font-size: 17px;
    margin-bottom: 20px;
}
.footer{
    height: 380px;
    width: 100%;
    background-color: #373737;
}
.footer_limit{
    width: 1170px;
    height: 380px;
    margin: auto;
}
.f_1{
    width: 25%;
    height: 380px;
    float: left;
}
.f_1 h2{
    margin-top: 65px;
    margin-bottom: 25px;
}
.f_1 h3{
    font-size: 14px;
}
.f_2{
    width: 25%;
    height: 380px;
    float: left;
}
.f_2 h2{
    margin-top: 65px;
    margin-bottom: 25px;
}
.f_3{
    width: 25%;
    height: 380px;
    float: left;
}
.f_3 h2{
    margin-top: 65px;
    margin-bottom: 25px;
}
.f_3 h6{
    margin-top: -20px;
    margin-bottom: 10px;
}
.f_4{
    width: 25%;
    height: 380px;
    float: left;
}
.f_4 h2{
    margin-top: 65px;
    margin-bottom: 25px;
}
.finis{
    width: 100%;
    height: 90px;
    background-color: #333333;
}
.finis1{
    width: 1170px;
    margin: auto;
    height: 90px;
}
.finis1 h3{
    line-height: 90px;
}



